

header {
    width: 50%;
    height: 70px;
    position: relative;
  
  }

header .logo {
    float: left;
    cursor: pointer;
  }


header .main-nav {
  height: 70px;
  float: left;
  margin: 0;
  padding: 0px 15px;
  line-height: 70px;
}

header .main-nav li {
    list-style-type: none;
    display: inline-block;
  }

header .main-nav li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50px;
  letter-spacing: 1px;
  padding: 0px 15px;


}

body {
  background-image: url(img/background.png);
  height: 1350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(106, 196, 196, 0.623);
}

.s2eps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.s2ep {
  width: 10%;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.s2ep img{
  width: 100%;
}

.s2ep p {
  font-size: 14px;
  color: brown;
  margin-top: 20px;
}

.s2ep h3 {
  font-size: 20px;
  color: black;
  letter-spacing: -0.4px;
  font-style: italic;
}


button {
text-decoration: none;
color: white;
background-color: rgb(235, 154, 167);
font-family: Arial, Helvetica, sans-serif;
font-weight: 50px;
font-weight: bold;
letter-spacing: 1px;
padding: 10px 10px;

top: 0;
float: right;


cursor: pointer;
border: none;
border-radius: 5px;
}