

header {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 0.5) 50%);
    position: relative;
  
  }

header .logo {
    float: left;
  }


header .main-nav {
  height: 70px;
  float: left;
  margin: 0;
  padding: 0px 15px;
  line-height: 70px;
}

header .main-nav li {
    list-style-type: none;
    display: inline-block;
  }

header .main-nav li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20px;
  letter-spacing: 4px;
  padding: 0px 15px;
}

body {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(106, 196, 196, 0.623);
}

.s2eps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.s2ep {
  width: 10%;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.s2ep img{
  width: 100%;
}

.s2ep p {
  font-size: 14px;
  color: brown;
  margin-top: 20px;
}

.s2ep h3 {
  font-size: 20px;
  color: black;
  letter-spacing: -0.4px;
  font-style: italic;
}