

header {
    width: 50%;
    height: 70px;
    position: relative;
  
  }

header .logo {
    float: left;
    cursor: pointer;
  }


header .main-nav {
  height: 70px;
  float: left;
  margin: 0;
  padding: 0px 15px;
  line-height: 70px;
}

header .main-nav li {
    list-style-type: none;
    display: inline-block;
  }

header .main-nav li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50px;
  letter-spacing: 1px;
  padding: 10px 10px;

  -webkit-text-stroke: 0.5px black;

}

body {
  background-image: url(img/background.png);
  height: 1350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(106, 196, 196, 0.623);
}

.s2eps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.s2ep {
  width: 10%;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.s2ep img{
  width: 100%;
}

.s2ep p {
  font-size: 14px;
  color: brown;
  margin-top: 20px;
}

.s2ep h3 {
  font-size: 20px;
  color: black;
  letter-spacing: -0.4px;
  font-style: italic;
}


#jellyfishButton {
text-decoration: none;
color: white;
background-color: rgb(235, 154, 167);
font-family: Arial, Helvetica, sans-serif;
font-weight: 50px;
font-weight: bold;
letter-spacing: 1px;
padding: 10px 10px;

position: absolute;
top: 25px;
right: 25px;

cursor: pointer;
border: none;
border-radius: 5px;
}








.survey-container {
  background: rgba(168, 247, 243, 0.726);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position:absolute;
  top:30%;
  left:30%;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

#submitButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}